body{
    background-color: bisque;
}

h1.TituloPrimario {
    text-align: center;
    font-size: 28px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 300px;
    margin-bottom: 75px;
    margin-right: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    font-size: 15px;
    text-align: left;
}

h2 {
    font-size: 17px;
    text-align: center;
}

ul {
    font-size: 15px;
    text-align: center;
}

div {
    text-align: center;
}

img.imagem{
    border: 5px solid black;
}
p.form-text {
    text-align: center;
}
p.betta{
    text-align: center;
}
img.beta{
    text-align: center;
    border: 5px black solid;
}